body{
  width: 40%;
  margin: auto;
  background-color: #AFD275;
  ;
}
form {
  border: 1px solid black;
  background-color: #e7717d;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

h2 {
  margin: 10px;
}

form div {
  margin: 10px 0px;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

li {
  border: 1px solid black;
  margin-bottom: 5px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  background-color: #c2cad0;
  width: 50%;
  border-radius: 5px;
  padding: 5px;
}
input {
  height: 30px;
  background-color: #c2cad0;
  width: 40%;
  border-radius: 5px;
}

button {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  text-align: center;
  height: 30px;
  background-color: #c2cad0;
}

select {
  background-color: #c2cad0;
  border-radius: 5px;
}

button:hover {
  background-color: #c2c9b0;
}

@media (max-width: 585px) {
  body {
    width: 60%;
    margin: auto;
  }
  li {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  }
  button {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  }
}

